* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: #000;
    color: #fff;
}

p {
    font-size: 3.5rem;
}

.js {
    color: blueviolet;
}

.typed-text {
    color: rgb(255, 251, 0);
}

.cursor {
    background: rgb(255, 251, 0);
}