* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cfd2d4;
    font-family: sans-serif;
}

.container {
    position: absolute;
}

.btn1 {
    display: block;
    color: rgb(0, 0, 0);
    font-weight: 200;
    background-color: #0077cc;
    padding: 20px 30px;
    margin-top: 550px;
    text-decoration: none;
    margin-left: 20px;
    overflow: hidden;
    border: 1px solid black;
    position: relative;
    transition: all 1s;
}

.btn1::before {
    content: "Download";
    font-weight: bold;
    color: black;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #14deec;
    transform: translateY(-100%);
    transition: all 1s;
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover:before {
    transform: translateY(0);
}

/* button 2 */
.btn2 {
    display: block;
    color: rgb(0, 0, 0);
    font-weight: 200;
    background-color: #0077cc;
    padding: 20px 30px;
    margin-top: 420px;
    text-decoration: none;
    margin-left: 300px;
    border: 2px solid black;
    position: relative;
}

.btn2:before {
    content: "button";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #14deec;
    /* center the content */
    display: flex;
    justify-content: center;
    align-items: center;
    /* rotation or animation  */
    transform: rotatex(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

.btn2::after {
    content: "button";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
    transition-delay: 0.25s;
}

.btn2:hover::before,
.btn2:hover::after {
    transform: rotateX(0);
}

/* button 3 */
.btn3 {
    display: block;
    font-weight: 200;
    padding: 20px 30px;
    margin-top: 290px;
    text-decoration: none;
    margin-left: 590px;
    position: relative;
    transition: all 0.2s;
    color: #fff;
}

.btn3::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color: #5b09f3;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.4s;
    transform-origin: top;
}

.btn3::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color: rgb(228, 33, 19);
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.4s;
    transform-origin: bottom;
}

.btn3:hover::before {
    top: -6px;
    left: 0;
    transform: perspective(10000px) rotateX(75deg);
}

.btn3:hover::after {
    top: 6px;
    left: 0;
    transform: perspective(10000px) rotateX(-75deg);
}

.btn3:hover {
    color: black;
    font-weight: 300;

}

/* button 4 */
.btn4 {
    display: block;
    font-weight: 300;
    background-color: #0077cc;
    padding: 20px 38px;
    margin-top: 130px;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid black;
    margin-left: 880px;
    position: relative;
    color: #fff;

}

.btn4::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    top: -10px;
    left: -10px;
    /* background-color: rgb(255, 9, 202); */
    border-top: 4px solid darkblue;
    border-left: 4px solid darkblue;
    transition: all 1s;
}

.btn4:hover::before,
.btn4:hover::after {

    height: 100%;
    width: 100%;
}

.btn4::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -10px;
    right: -10px;
    border-bottom: 4px solid darkblue;
    border-right: 4px solid darkblue;
    transition: all 1s;

}
/* button 5 */
.btn5{
    display: block;
    font-weight: 400;
    background-color: #0077cc;
    padding: 20px 48px;
    margin-top: 30px;
    /* font-size: 16px; */
    text-decoration: none;
    border-radius: 100px;
    border: 2px solid black;
    margin-left: 1150px;
    position: relative;
    color: black;
    transition: all 0.2s;
}
.btn5::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0077cc;
    border-radius: 100px;
    transition: all 1s;
    z-index: -1;
}
.btn5:hover::before{
    transform: scaleX(1.4) scaleY(1.7);
    opacity: 0;
}
.btn5:hover{
    transform: translatey(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn5:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

