* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.heading {
    font-size: 10rem;
    font-weight: 900;
    background: url(jujutsu-kaisen-anime-boys-anime-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}